{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
    {{ $taxonomy := "tags" }}
    {{ $section := "recipes" }}
    {{ range $term, $weightedPages := index site.Taxonomies $taxonomy }}
    {{ $termPage := site.GetPage (printf "%s/%s" $taxonomy $term) }}
    <div class="relative w-100 mb4 bg-white nested-copy-line-height">
        <div class="bg-white mb3 pa4 gray overflow-hidden">
            <h2 class="f3 near-black nested-links" style="text-transform: capitalize;">
                <a href="{{ $termPage.RelPermalink }}" class="link black dim">{{ $termPage.LinkTitle }}</a>
            </h2>
            <div class="nested-links f5 lh-copy nested-copy-line-height">
                <ul>
                    {{ range where $weightedPages "Page.Section" $section }}
                    <li class="f3 near-black">
                        <a href="{{ .RelPermalink }}" class="link black dim">{{ .LinkTitle }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{ end }}
</article>
{{ end }}