{{ $title := .Title }} {{ $url := printf "%s" .Permalink | absLangURL }}
<div id="sharing" class="mt3 ananke-socials">
  <button
    id="shareButton"
    style="display: none; background-color: transparent; border: none"
  >
    <i class="material-icons">share</i>
  </button>
  {{ if .IsPage }}
  <div style="display: inline-block">
    <a href="https://github.com/jermowery/jermowery.github.io/edit/main/content/{{ .File.Path }}"
      target="_blank"
      rel="noopener"
      style="vertical-align: unset; color: black"
      title="Edit on Github">
      <i class="material-icons">edit</i>
    </a>
  </div>
  {{ end }}
</div>
<script type="module" defer>
  const shareButton = document.querySelector("#shareButton");
  if (navigator.share) {
    shareButton.addEventListener("click", () => {
      navigator.share({
        tile: "{{$title}}",
        url: "{{$url}}",
      });
    });
    document
      .querySelectorAll("#shareButton")
      .forEach((button) => (button.style.display = "inline-block"));
  }
</script>
