<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <script defer src="https://cdn.jsdelivr.net/npm/stackdriver-errors-js/dist/stackdriver-errors-concat.min.js"></script>
    <!-- Load `web-vitals` using a module script. -->
    <script type="module" defer>
        import {getCLS, getFID, getLCP, getFCP, getTTFB} from 'https://unpkg.com/web-vitals/dist/web-vitals.es5.min.js?module';
    
        function sendToGoogleAnalytics({name, delta, id}) {
            // Assumes the global `gtag()` function exists, see:
            // https://developers.google.com/analytics/devguides/collection/gtagjs
            gtag('event', name, {
                event_category: 'Web Vitals',
                // Google Analytics metrics must be integers, so the value is rounded.
                // For CLS the value is first multiplied by 1000 for greater precision
                // (note: increase the multiplier for greater precision if needed).
                value: Math.round(name === 'CLS' ? delta * 1000 : delta),
                // The `id` value will be unique to the current page load. When sending
                // multiple values from the same page (e.g. for CLS), Google Analytics can
                // compute a total by grouping on this ID (note: requires `eventLabel` to
                // be a dimension in your report).
                event_label: id,
                // Use a non-interaction event to avoid affecting bounce rate.
                non_interaction: true,
            });
        }

        getCLS(sendToGoogleAnalytics);
        getFID(sendToGoogleAnalytics);
        getLCP(sendToGoogleAnalytics);
        getFCP(sendToGoogleAnalytics);
        getTTFB(sendToGoogleAnalytics);
    </script>
    <script type="module" defer>
        var errorHandler = new StackdriverErrorReporter();
        errorHandler.start({
            key: 'AIzaSyBICupZJcgrzEmHenC316pJFSNwKjQ5qEM',
            projectId: 'recipes-287600'
        });

        if (navigator.serviceWorker) {
            let version = '{{site.github.build_revision}}' || String(new Date().getTime());
            version = encodeURIComponent(version);
            navigator.serviceWorker.register(`/sw.js?version=${version}`, {scope: '/'});
        }
    </script>
    <script type="module" defer>
        const shareButton = document.querySelector("#shareButton");
        if (navigator.share) {
            shareButton.addEventListener('click', () => {
                const title = `{{ page.title }}`;
                const text = '{{ page.description }}' || undefined;
                const url = '{{ page.url }}'
                navigator.share({
                    title,
                    text,
                    url,
                });
            });
            document.querySelectorAll('#shareButton').forEach(button => button.style.display = 'inline-block');
        }
    </script>
    {% if page.tipue_search_active or layout.tipue_search_active %}
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
    <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
    <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/maskable_icon_192.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header class="page-header" role="banner" style="padding-top: 20px; padding-bottom: 1px;">
        <a href="/recipes/" class="btn" style="width: auto; display: inline-block;">Recipes Home</a>
        <a href="/recipes/search/" class="btn" style="width: auto; display: inline-block;">Search</a>
    </header>
    <main id="content" class="main-content" role="main">
        {% if page.title %}
            <h1 style="display: inline-block; margin-bottom: 0;">{{ page.title }}</h1>
            <button
                id="shareButton"
                style="display: none;
                       background-color: transparent;
                       border: none;">
                <i class="material-icons">share</i>
            </button>
        {% endif %}
        {% if page.author %}
            <p>By {{ page.author }}</p>
        {% endif %}
        {% if page.date %}
            <p>Published {{ page.date | date: "%D" }}</p>
        {% endif %}
        {{ content }}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span><a href="https://github.com/jermowery/jermowery.github.io/issues/new">Report a problem with this page</a></span>
        </footer>
    </main>
</body>

</html>