<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        {%- assign url_parts = page.url | split: '/' -%}
        {%- capture loop_max -%}{{ url_parts.size | minus: 1 }}{%- endcapture -%}
        {%- assign j = loop_max | plus: 0 -%}
        {%- assign bc_path = "/" -%}
        {%- comment -%}
        the result of following assignment (if successful) will be an array,
        so bc_page[0] is used to get the page corresponding to the path
        {%- endcomment -%}
        {%- assign bc_page = site.pages | where: "url", bc_path -%}
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb card-header lightcthru">
                    <li class="breadcrumb-item">
                        <a href="{{ bc_path | relative_url }}" class="btn">
                            {{ bc_page[0].breadcrumb }}
                        </a>
                    </li>
                    {%- for i in (1..loop_max) -%}
                    {%- capture bc_path -%}{{bc_path}}{{url_parts[i]}}{%- endcapture -%}
                    {%- unless bc_path contains ".html" -%}
                    {%- capture bc_path -%}{{bc_path}}/{%- endcapture -%}
                    {%- endunless -%}
                    {%- comment -%}
                    the result of following assignment (if successful) will be an array,
                    so bc_page[0] is used to get the page corresponding to the path
                    {%- endcomment -%}
                    {%- assign bc_page = site.pages | where: "url", bc_path -%}
                    {% if bc_page and i < j %}
                    <li class="breadcrumb-item">
                        <a href="{{ bc_path | relative_url }}" class="btn">
                            {{ bc_page[0].breadcrumb }}
                        </a>
                    </li>
                    {% elsif bc_page and i == j %}
                    <li class="breadcrumb-item active" class="btn">
                        {{ bc_page[0].breadcrumb }}
                    </li>
                    {% endif %}
                    {%- endfor -%}
                </ol>
            </nav>
        </div>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
        </footer>
    </main>
</body>

</html>