<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <script defer src="https://cdn.jsdelivr.net/npm/stackdriver-errors-js/dist/stackdriver-errors-concat.min.js"></script>
    <script type="module" defer>
        import { Octokit } from "https://cdn.pika.dev/@octokit/rest";

        var errorHandler = new StackdriverErrorReporter();
        errorHandler.start({
            key: 'AIzaSyBICupZJcgrzEmHenC316pJFSNwKjQ5qEM',
            projectId: 'recipes-287600'
        });

        if (navigator.serviceWorker) {
            (async function() {
                /** @type string */
                let version;

                try {
                    const octokit = new Octokit();

                    const {data: commits} = await octokit.repos.listCommits({
                        "owner": "jermowery",
                        "repo": "jermowery.github.io",
                    });
                    const latestCommit = commits[0];
                    const commitSha = encodeURIComponent(latestCommit["sha"]);
                    version = commitSha;
                } catch (e) {
                    errorHandler.report(e);
                    version = encodeURIComponent('{{site.github.build_revision}}');
                }
                navigator.serviceWorker.register(`/sw.js?version=${version}`, {scope: '/'});
            })();
        }
    </script>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/maskable_icon_192.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header class="page-header" role="banner" style="padding-top: 1px; padding-bottom: 1px;">
        <a href="/recipes/" class="btn" style="margin-top: 20px;">Recipes Home</a>
    </header>
    <main id="content" class="main-content" role="main">
        {% if page.title %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.author %}
            <p>By {{ page.author }}</p>
        {% endif %}
        {% if page.date %}
            <p>Published {{ page.date | date: "%D" }}</p>
        {% endif %}
        {{ content }}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a
                    href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
                    href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span><a href="https://github.com/jermowery/jermowery.github.io/issues/new">Report a problem with this page</a></span>
        </footer>
    </main>
</body>

</html>